---
layout: default
title: MittData.se
---

<header>
	<div class="container">
		<div class="column">
			<div>
				<h1 class="editable">
					Ge dig sj&auml;lv kontrollen igen.
				</h1>
				<p class="editable">
					Dina digitala verktyg som &auml;r i dina h&auml;nder.
				</p>
				<div class="button">
					<a href="#donate">Donate Now</a>
				</div>
			</div>
		</div>
		<div class="column">
			<img src="{{ site.baseurl }}/images/sheep.jpg" alt="Sheep" />
		</div>
	</div>
</header>

<div class="container">
	<h2 class="editable" style="text-align: center;">
		Varf&ouml;r inte &auml;ga dina verktyg, system och plattformar?
	</h2>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="population" %}</div>
			<h3 class="editable">
				Kommunikation
			</h3>
			<p class="editable">
				Prata, interagera och samarbeta med dina kollegor, v&auml;nner och familj utan att bli irriterad av n&aring;gon typ av reklam, popups, inl&aring;sning eller banners.
			</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="economy" %}</div>
			<h3 class="editable">
				Economy
			</h3>
			<p class="editable">
				Sheep are the backbone of the economy yet they receive no compensation.
			</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="conditions" %}</div>
			<h3 class="editable">
				Bry dig om dig och dina n&auml;ra
			</h3>
			<p class="editable">
				Skapa ett s&auml;kert digitalt nav f&ouml;r ditt och dina n&auml;ras liv, oavsett om det g&auml;ller livet i arbetet, privat eller offentligt.
			</p>
		</li>
	</ul>
</div>

<div class="container">
	<div class="columns">
		<div>
			<img src="{{ site.baseurl }}/images/sheep2.jpg" alt="Sheep" />
		</div>
		<div>
			<h2 class="editable">
				Our Mission
			</h2>

			<p class="editable">
				Vi tar de b&auml;sta &ouml;ppna plattformarna sk&ouml;ter det &aring;t dig. Med v&aring;ra gener&ouml;sa paket f&ouml;r grupper s&aring; kan vanligt folk som du och dina kontakter v&auml;lja n&aring;got som ni f&ouml;redrar f&ouml;r att vara i kontroll och kunna anpassa efter era behov. Nu kan familjer, v&auml;nner, f&ouml;retag, myndigheter och skolor ha ett alternativ f&ouml;r dem sj&auml;lva och deras anv&auml;ndare att h&aring;lla konatkent med omv&auml;rlden med, som respekterar svensk och europeisk lag, exempelvis GDPR.
			</p>
		</div>
	</div>
</div>

<div class="container">
	<hr />
	<blockquote>
		<p class="quote editable">
			The ultimate measure of a sheep is not where he stands in moments of comfort and convenience, but where he stands at times of challenge and controversy.
		</p>
		<div class="attribute">
			<p class="meta">
				<span class="image"><img class="editable" src="/images/wooly.jpg" alt="Wooly" /></span>
				<span class="author editable"><strong>Wooly McBaa</strong></span>
			</p>
		</div>
	</blockquote>
</div>

<div class="darker">
	<div class="container">
		<h2 class="editable">
			Intresserad? Skriv upp dig f&ouml;r nyheter!
		</h2>
		<p class="editable" style="text-align: center;">
			Skriv upp dig f&ouml;r att f&aring; de senaste uppdateringarna om utvecklingen mot ett digitalt nav som &auml;r i dina h&auml;nder. Vi delar aldrig dina data med n&aring;gon annan. GDPR 4 Life.
		</p>
		<form action="{{ site.newsletter_action }}" method="post">
			<input type="text" name="EMAIL" placeholder="Email" />
			<input type="submit" value="Sign up" />
		</form>
	</div>
</div>

<div class="container" id="donate">
	<h2 class="editable">
		B&ouml;rja prenumerera p&aring; tj&auml;nster
	</h2>
	<div class="donate">
		{{ site.donation_embed }}
	</div>
</div>

<div class="darker">
	<div class="container">
		<h2 class="editable">
			Nyheter
		</h2>
		<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a></p>
		<div class="posts">
			{% for post in site.posts %}
				<div class="post">
					<div class="image" style="background-image: url({{ post.featured_image}})"></div>
					<div class="post-content">
						<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
						<h3>{{ post.title }}</h3>

						{{ post.content }}
						<p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong> Edit Update</a></p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
